name: DOT Buddy

on:
  issue_comment:
    types: [created]
permissions:
  issues: write

jobs:
  reply:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Rodar botcode.js
        run: node .github/workflows/botcode.js
        env:
          COMMENT_BODY: ${{ github.event.comment.body }}
          GITHUB_TOKEN: ${{ secrets.PAT }}
          ISSUE_NUMBER: 7